(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    waves: Some((
        source: File("dump.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "ascon_core",
            ],
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (12),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (35),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (30),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (31),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (32),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (33),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (25): Divider((
                color: Some("Red"),
                background_color: None,
                name: Some("Ascon Core"),
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x0",
                ),
                color: None,
                background_color: None,
                display_name: "x0 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_eoi",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_eoi",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "fsm",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "fsm [17:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (35): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "flag_eoi",
                ),
                color: None,
                background_color: None,
                display_name: "flag_eoi",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_valid",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_valid [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (31): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x2",
                ),
                color: None,
                background_color: None,
                display_name: "x2 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_ready",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "key_valid",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "key_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Divider((
                color: Some("Green"),
                background_color: None,
                name: Some("BDI"),
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "round_cnt",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "round_cnt [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "key_ready",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "key_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_eot",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_eot",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_type",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_type [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_ready",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (33): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x4",
                ),
                color: None,
                background_color: None,
                display_name: "x4 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "mode",
                ),
                color: None,
                background_color: None,
                display_name: "mode [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Divider((
                color: Some("Blue"),
                background_color: None,
                name: Some("BDO"),
            )),
            (32): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x3",
                ),
                color: None,
                background_color: None,
                display_name: "x3 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Divider((
                color: Some("Pink"),
                background_color: None,
                name: Some("KEY"),
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_eot",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_eot",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "rst",
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (17): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_eoo",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_eoo",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_type",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_type [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_valid",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "word_cnt",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "word_cnt [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi",
                ),
                color: None,
                background_color: None,
                display_name: "bdi [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "auth",
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "auth",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (30): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x1",
                ),
                color: None,
                background_color: None,
                display_name: "x1 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "auth_valid",
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "auth_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "key",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "key [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 35,
        viewports: [
            (
                curr_left: (-0.000056010817839454146),
                curr_right: (0.0018353133151966265),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            9500,
        ])),
        markers: {},
        focused_item: Some((25)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.1),
)