(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    waves: Some((
        source: File("dump.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "ascon_core",
            ],
        ))),
        displayed_items_order: [
            (4),
            (5),
            (21),
            (6),
            (7),
            (8),
            (23),
            (9),
            (10),
            (11),
            (55),
            (12),
            (13),
            (15),
            (49),
            (50),
            (51),
            (52),
            (22),
            (73),
            (74),
            (75),
            (76),
            (77),
            (39),
            (40),
            (24),
            (65),
            (66),
            (67),
            (68),
            (69),
            (70),
            (71),
            (72),
        ],
        displayed_items: {
            (39): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "auth",
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "auth",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "key",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "key [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "key_ready",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "key_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_eot",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_eot",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "rst",
                ),
                color: None,
                background_color: None,
                display_name: "rst",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "clk",
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (24): Divider((
                color: Some("Red"),
                background_color: None,
                name: Some("Ascon Core"),
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi",
                ),
                color: None,
                background_color: None,
                display_name: "bdi [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (72): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x4",
                ),
                color: None,
                background_color: None,
                display_name: "x4 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (23): Divider((
                color: Some("Green"),
                background_color: None,
                name: Some("BDI"),
            )),
            (65): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "fsm",
                ),
                color: Some("Red"),
                background_color: None,
                display_name: "fsm [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("ASCII"),
                field_formats: [],
            )),
            (67): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "round_cnt",
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "round_cnt [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_eoi",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_eoi",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (66): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "word_cnt",
                ),
                color: Some("Orange"),
                background_color: None,
                display_name: "word_cnt [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_type",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_type [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (75): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_ready",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (22): Divider((
                color: Some("Blue"),
                background_color: None,
                name: Some("BDO"),
            )),
            (73): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (76): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_type",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_type [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (74): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_eot",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_eot",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (21): Divider((
                color: Some("Pink"),
                background_color: None,
                name: Some("KEY"),
            )),
            (69): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x1",
                ),
                color: None,
                background_color: None,
                display_name: "x1 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (49): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "mode",
                ),
                color: None,
                background_color: None,
                display_name: "mode [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (70): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x2",
                ),
                color: None,
                background_color: None,
                display_name: "x2 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (40): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "auth_valid",
                ),
                color: Some("Violet"),
                background_color: None,
                display_name: "auth_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_ready",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_ready",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (71): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x3",
                ),
                color: None,
                background_color: None,
                display_name: "x3 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (68): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "x0",
                ),
                color: None,
                background_color: None,
                display_name: "x0 [63:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (77): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdo_valid",
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "bdo_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "key_valid",
                ),
                color: Some("Pink"),
                background_color: None,
                display_name: "key_valid",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
            )),
            (55): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "ascon_core",
                        ],
                    ),
                    name: "bdi_valid",
                ),
                color: None,
                background_color: None,
                display_name: "bdi_valid [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
            )),
        },
        display_item_ref_counter: 77,
        viewports: [
            (
                curr_left: (0.0),
                curr_right: (0.025641892026812108),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            1215500,
        ])),
        markers: {},
        focused_item: Some((23)),
        focused_transaction: (None, None),
        selected_items: [
            (74),
            (76),
            (73),
            (75),
            (77),
        ],
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: None,
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_name_filter_type: Fuzzy,
    variable_name_filter_case_insensitive: true,
    rename_target: None,
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.1),
)